/**
 * Turns sidebar into a (semi-)permanent fixture & adds the ability for it to collapse & expand.
 */

:root {
  --uc-sidebar-collapsed: 40px;
  --uc-sidebar-transition: 150ms;
  --uc-sidebar-open-delay: 50ms;
  --uc-sidebar-open-function: ease-out;
  --uc-sidebar-close-delay: 200ms;
  --uc-sidebar-close-function: ease-in;
  --uc-sidebar-overlap-shadow-length: 8px;
  --uc-sidebar-overlap-shadow-opacity: 50%;

  @media not (-moz-platform: macos) {
    --uc-sidebar-switcher-allowance: 13px;
    /* ^ 16px[icon width]/2 + 4px[left pad] + 1px[left border] */
  }
  @media (-moz-platform: macos) {
    --uc-sidebar-switcher-allowance: 15px;
    /* ^ 16px[icon width]/2 + 4px[left pad] + 1px[left border] + 2px[left inline margin] */
  }
  &[uidensity="touch"] {
    --uc-sidebar-collapsed: 44px;
  }
  &[uidensity="compact"] {
    --uc-sidebar-collapsed: 34px;
  }
  &[inFullscreen] {
    --uc-sidebar-collapsed: 1px;
  }
}

#sidebar-header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: var(--uc-tabbar-height); /* Felt about right */
}
#sidebar-close {
  display: none;
}
:root[inFullscreen] #sidebar-box, :root:not([inFullscreen]) #sidebar-box[autocollapse] {
  z-index: 1;
  overflow: hidden;
  transition-duration: var(--uc-sidebar-transition);
  transition-delay: var(--uc-sidebar-open-delay);

  #sidebar-title, #sidebar-switcher-arrow {
    transition: opacity calc(var(--uc-sidebar-transition)/2) var(--uc-sidebar-open-function)
                        calc(var(--uc-sidebar-open-delay) + var(--uc-sidebar-transition)/2);
  }
  ~ #sidebar-splitter {
    z-index: 2;
  }
  ~ #tabbrowser-tabbox {
    position: relative;

    > #tabbrowser-tabpanels {
      position: absolute;
      height: 100%;
    }
  }

  &:not([positionend="true"]) {
    ~ #sidebar-splitter {
      clip-path: inset(0 calc(-1*var(--uc-sidebar-overlap-shadow-length)) 0 0);
    }
    ~ #tabbrowser-tabbox > #tabbrowser-tabpanels {
      right: 0;
    }
  }
  &[positionend="true"] ~ #sidebar-splitter {
    clip-path: inset(0 0 0 calc(-1*var(--uc-sidebar-overlap-shadow-length)));
  }

  &:not(:hover, :has(~ #sidebar-splitter:hover, ~ #sidebar-splitter[state="dragging"])) {
    width: var(--uc-sidebar-collapsed) !important;
    min-width: 0 !important;
    transition-delay: var(--uc-sidebar-close-delay);

    #sidebar-title, #sidebar-switcher-arrow {
      opacity: 0 !important;
      transition-timing-function: var(--uc-sidebar-close-function);
      transition-delay: var(--uc-sidebar-close-delay);
    }
  }
  &:is(:hover, :has(~ #sidebar-splitter:hover)) ~ #sidebar-splitter {
    box-shadow: 0 0 var(--uc-sidebar-overlap-shadow-length)
                rgb(0 0 0 / var(--uc-sidebar-overlap-shadow-opacity));
  }
}
:root[inFullscreen] #sidebar-box {
  transition-property: width, min-width, opacity;
  transition-timing-function: var(--uc-sidebar-open-function), step-end, step-start;

  ~ #sidebar-splitter {
    transition: box-shadow var(--uc-sidebar-transition), opacity 0ms;
    transition-delay: var(--uc-sidebar-open-delay);
  }
  ~ #tabbrowser-tabbox > #tabbrowser-tabpanels {
    width: 100vw;
  }

  &:has(~ #sidebar-splitter[state="dragging"]) {
    /* width, min-width, opacity */
    transition-duration: 0ms, var(--uc-sidebar-transition), var(--uc-sidebar-transition);
    transition-delay: 0ms, var(--uc-sidebar-open-delay), var(--uc-sidebar-open-delay);
  }
  &:not(:hover, :has(~ #sidebar-splitter:hover, ~ #sidebar-splitter[state="dragging"])) {
    opacity: 0;
    /* width, min-width, opacity */
    transition-timing-function: var(--uc-sidebar-close-function), step-start, step-end;

    ~ #sidebar-splitter {
      opacity: 0;
      transition-delay: var(--uc-sidebar-close-delay),
                        calc(var(--uc-sidebar-close-delay) + var(--uc-sidebar-transition));
    }
  }
}
:root:not([inFullscreen]) #sidebar-box[autocollapse] {
  transition-property: width, min-width;
  transition-timing-function: var(--uc-sidebar-open-function), step-end;

  > #sidebar-header {
    transition: padding-left var(--uc-sidebar-transition) var(--uc-sidebar-open-function)
                             var(--uc-sidebar-open-delay);
  }
  ~ #sidebar-splitter {
    transition: box-shadow var(--uc-sidebar-transition) var(--uc-sidebar-open-delay);
  }
  &[hidden] ~ #tabbrowser-tabbox > #tabbrowser-tabpanels {
    width: 100%;
  }
  &:not([hidden]) ~ #tabbrowser-tabbox > #tabbrowser-tabpanels {
    width: calc(100vw - var(--uc-sidebar-collapsed));
  }

  &:has(~ #sidebar-splitter[state="dragging"]) {
    /* width, min-width */
    transition-duration: 0ms, var(--uc-sidebar-transition);
    transition-delay: 0ms, var(--uc-sidebar-open-delay);
  }
  &:not(:hover, :has(~ #sidebar-splitter:hover, ~ #sidebar-splitter[state="dragging"])) {
    /* width, min-width */
    transition-timing-function: var(--uc-sidebar-close-function), step-start;
    
    > #sidebar-header {
      padding-left: calc(var(--uc-sidebar-collapsed)/2 - var(--uc-sidebar-switcher-allowance))
                    !important;
      transition-timing-function: var(--uc-sidebar-close-function);
      transition-delay: var(--uc-sidebar-close-delay);
    }
    ~ #sidebar-splitter {
      transition-delay: var(--uc-sidebar-close-delay);
    }
  }
}
